In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv")
df2 = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv")
df3 = pd.merge(df, df2)
df3

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [3]:
Huang_High_School = df3[df3["School ID"] == 0]
Figueroa_High_School = df3[df3["School ID"] == 1]
Shelton_High_School = df3[df3["School ID"] == 2]
Hernandez_High_School = df3[df3["School ID"] == 3]
Griffin_High_School = df3[df3["School ID"] == 4]
Wilson_High_School = df3[df3["School ID"] == 5]
Cabrera_High_School = df3[df3["School ID"] == 6]
Bailey_High_School = df3[df3["School ID"] == 7]
Holden_High_School = df3[df3["School ID"] == 8]
Pena_High_School = df3[df3["School ID"] == 9]
Wright_High_School = df3[df3["School ID"] == 10]
Rodriguez_High_School = df3[df3["School ID"] == 11]
Johnson_High_School = df3[df3["School ID"] == 12]
Ford_High_School = df3[df3["School ID"] == 13]
Thomas_High_School = df3[df3["School ID"] == 14]

High_schools = [x for x in df["school_name"]]
for x in range(len(High_schools)):
    High_schools[x] = High_schools[x].replace(" ", "_")
High_schools

['Huang_High_School',
 'Figueroa_High_School',
 'Shelton_High_School',
 'Hernandez_High_School',
 'Griffin_High_School',
 'Wilson_High_School',
 'Cabrera_High_School',
 'Bailey_High_School',
 'Holden_High_School',
 'Pena_High_School',
 'Wright_High_School',
 'Rodriguez_High_School',
 'Johnson_High_School',
 'Ford_High_School',
 'Thomas_High_School']

In [4]:
reading = df2.groupby(by='school_name')

reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76
37536,37536,Cody Miller,M,11th,Thomas High School,84,82
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
School ID      15 non-null int64
school_name    15 non-null object
type           15 non-null object
size           15 non-null int64
budget         15 non-null int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

In [6]:
df["school_name"].count()

15

In [7]:

scoresabove60

{'Schools': ['Huang_High_School',
  'Figueroa_High_School',
  'Shelton_High_School',
  'Hernandez_High_School',
  'Griffin_High_School',
  'Wilson_High_School',
  'Cabrera_High_School',
  'Bailey_High_School',
  'Holden_High_School',
  'Pena_High_School',
  'Wright_High_School',
  'Rodriguez_High_School',
  'Johnson_High_School',
  'Ford_High_School'],
 'math_score': [      School ID        school_name      type  size   budget  Student ID  \
  0             0  Huang High School  District  2917  1910635           0
  1             0  Huang High School  District  2917  1910635           1
  4             0  Huang High School  District  2917  1910635           4
  5             0  Huang High School  District  2917  1910635           5
  6             0  Huang High School  District  2917  1910635           6
  ...         ...                ...       ...   ...      ...         ...
  2912          0  Huang High School  District  2917  1910635        2912
  2913          0  Huang High School  District  2917  1910635        2913
  2914          0  Huang High School  District  2917  1910635        2914
  2915          0  Huang High School  District  2917  1910635        2915
  2916          0  Huang High School  District  2917  1910635        2916

          student_name gender grade  reading_score  math_score
  0       Paul Bradley      M   9th             66          79
  1       Victor Smith      M  12th             94          61
  4         Bonnie Ray      F   9th             97          84
  5      Bryan Miranda      M   9th             94          94
  6      Sheena Carter      F  11th             82          80
  ...              ...    ...   ...            ...         ...
  2912   Michael Combs      M   9th             98          95
  2913  Monica Barajas      F   9th             64          81
  2914   Carlos Garner      M  12th             66          73
  2915  April Williams      F  12th             70          85
  2916   Karen Blevins      F  10th             82          73

  [2533 rows x 11 columns],
        School ID           school_name      type  size   budget  Student ID  \
  2917          1  Figueroa High School  District  2949  1884411        2917
  2918          1  Figueroa High School  District  2949  1884411        2918
  2919          1  Figueroa High School  District  2949  1884411        2919
  2920          1  Figueroa High School  District  2949  1884411        2920
  2921          1  Figueroa High School  District  2949  1884411        2921
  ...         ...                   ...       ...   ...      ...         ...
  5861          1  Figueroa High School  District  2949  1884411        5861
  5862          1  Figueroa High School  District  2949  1884411        5862
  5863          1  Figueroa High School  District  2949  1884411        5863
  5864          1  Figueroa High School  District  2949  1884411        5864
  5865          1  Figueroa High School  District  2949  1884411        5865

           student_name gender grade  reading_score  math_score
  2917       Amy Jacobs      F  10th             85          87
  2918  Nathan Campbell      M  12th             97          84
  2919  Randall Stewart      M  12th             67          77
  2920   Jennifer Brown      F   9th             97          64
  2921     Denise Lopez      F  10th             79          64
  ...               ...    ...   ...            ...         ...
  5861   April Sullivan      F   9th             81          92
  5862   Jessica Mccann      F  11th             99          66
  5863   Charles Walker      M  11th             98          64
  5864      Tammy Burns      F   9th             91          83
  5865   Ricky Harrison      M  10th             99          65

  [2549 rows x 11 columns],
        School ID          school_name     type  size   budget  Student ID  \
  5866          2  Shelton High School  Charter  1761  1056600        5866
  5867          2  Shelton High School  Charter  1761  1056600        5867
  5868          2  Shelton High School  Charter  1761  1056600        5868
  5869          2  Shelton High School  Charter  1761  1056600        5869
  5870          2  Shelton High School  Charter  1761  1056600        5870
  ...         ...                  ...      ...   ...      ...         ...
  7622          2  Shelton High School  Charter  1761  1056600        7622
  7623          2  Shelton High School  Charter  1761  1056600        7623
  7624          2  Shelton High School  Charter  1761  1056600        7624
  7625          2  Shelton High School  Charter  1761  1056600        7625
  7626          2  Shelton High School  Charter  1761  1056600        7626

            student_name gender grade  reading_score  math_score
  5866  Jamie Montgomery      F  12th             70          91
  5867  Shannon Phillips      F  10th             84          71
  5868       Todd Barber      M  11th             95          99
  5869      Desiree King      F  12th             76          95
  5870   Melissa Roberts      F  10th             71          82
  ...                ...    ...   ...            ...         ...
  7622  Elizabeth Horton      F  11th             94          73
  7623      April Harper      F  10th             69          80
  7624    Melanie Chavez      F  12th             79          86
  7625  Steven Alexander      M   9th             84          70
  7626      Randy Carson      M  10th             96          79

  [1761 rows x 11 columns],
         School ID            school_name      type  size   budget  Student ID  \
  7627           3  Hernandez High School  District  4635  3022020        7627
  7628           3  Hernandez High School  District  4635  3022020        7628
  7629           3  Hernandez High School  District  4635  3022020        7629
  7630           3  Hernandez High School  District  4635  3022020        7630
  7631           3  Hernandez High School  District  4635  3022020        7631
  ...          ...                    ...       ...   ...      ...         ...
  12257          3  Hernandez High School  District  4635  3022020       12257
  12258          3  Hernandez High School  District  4635  3022020       12258
  12259          3  Hernandez High School  District  4635  3022020       12259
  12260          3  Hernandez High School  District  4635  3022020       12260
  12261          3  Hernandez High School  District  4635  3022020       12261

              student_name gender grade  reading_score  math_score
  7627       Russell Davis      M  10th             70          88
  7628      Timothy Walker      M  12th             97          93
  7629      Katie Johnston      F  12th             83          81
  7630      Joann Oconnell      F  12th             77          91
  7631     Sarah Alexander      F  10th             84          93
  ...                  ...    ...   ...            ...         ...
  12257  Mr. Gregg Rosario      M   9th             96          64
  12258   Beverly Arellano      F   9th             96          63
  12259    Jonathan Miller      M   9th             71          91
  12260     Sierra Collins      F  12th             74          68
  12261     Richard Wilson      M  10th             64          81

  [4007 rows x 11 columns],
         School ID          school_name     type  size  budget  Student ID  \
  12262          4  Griffin High School  Charter  1468  917500       12262
  12263          4  Griffin High School  Charter  1468  917500       12263
  12264          4  Griffin High School  Charter  1468  917500       12264
  12265          4  Griffin High School  Charter  1468  917500       12265
  12266          4  Griffin High School  Charter  1468  917500       12266
  ...          ...                  ...      ...   ...     ...         ...
  13725          4  Griffin High School  Charter  1468  917500       13725
  13726          4  Griffin High School  Charter  1468  917500       13726
  13727          4  Griffin High School  Charter  1468  917500       13727
  13728          4  Griffin High School  Charter  1468  917500       13728
  13729          4  Griffin High School  Charter  1468  917500       13729

              student_name gender grade  reading_score  math_score
  12262     Heather Wright      F  11th             79          68
  12263  Elizabeth Goodwin      F  10th             91          81
  12264      Michelle Wong      F   9th             78          89
  12265      Scott Roth MD      M  11th             91          85
  12266       Billy Wilson      M  12th             76          83
  ...                  ...    ...   ...            ...         ...
  13725   Jonathan Pollard      M   9th             90          94
  13726         Sarah Shah      F   9th             99          75
  13727      Megan Bennett      F  10th             80          91
  13728     Donald Barnett      M  12th             91          96
  13729        Kent Miller      M   9th             91          99

  [1468 rows x 11 columns],
         School ID         school_name     type  size   budget  Student ID  \
  13730          5  Wilson High School  Charter  2283  1319574       13730
  13731          5  Wilson High School  Charter  2283  1319574       13731
  13732          5  Wilson High School  Charter  2283  1319574       13732
  13733          5  Wilson High School  Charter  2283  1319574       13733
  13734          5  Wilson High School  Charter  2283  1319574       13734
  ...          ...                 ...      ...   ...      ...         ...
  16008          5  Wilson High School  Charter  2283  1319574       16008
  16009          5  Wilson High School  Charter  2283  1319574       16009
  16010          5  Wilson High School  Charter  2283  1319574       16010
  16011          5  Wilson High School  Charter  2283  1319574       16011
  16012          5  Wilson High School  Charter  2283  1319574       16012

              student_name gender grade  reading_score  math_score
  13730     Kelli Anderson      F  10th             84          71
  13731    Russell Ramirez      M  10th             72          87
  13732        Eric Butler      M  10th             97          82
  13733        Warren Kerr      M  11th             93          68
  13734          Gail Hall      F   9th             79          72
  ...                  ...    ...   ...            ...         ...
  16008      Sydney Taylor      F   9th             72          88
  16009        Steven Holt      M   9th             92          93
  16010       Hailey Scott      F  10th             93          96
  16011  Barbara Nicholson      F  11th             77          97
  16012      Eric Anderson      M  12th             89          95

  [2283 rows x 11 columns],
         School ID          school_name     type  size   budget  Student ID  \
  16013          6  Cabrera High School  Charter  1858  1081356       16013
  16014          6  Cabrera High School  Charter  1858  1081356       16014
  16015          6  Cabrera High School  Charter  1858  1081356       16015
  16016          6  Cabrera High School  Charter  1858  1081356       16016
  16017          6  Cabrera High School  Charter  1858  1081356       16017
  ...          ...                  ...      ...   ...      ...         ...
  17866          6  Cabrera High School  Charter  1858  1081356       17866
  17867          6  Cabrera High School  Charter  1858  1081356       17867
  17868          6  Cabrera High School  Charter  1858  1081356       17868
  17869          6  Cabrera High School  Charter  1858  1081356       17869
  17870          6  Cabrera High School  Charter  1858  1081356       17870

           student_name gender grade  reading_score  math_score
  16013    Olivia Short      F  11th             94          94
  16014     Kerry Jones      F   9th             98          97
  16015   Bruce Jackson      M  12th             78          83
  16016       Amy Green      F  12th             89          92
  16017   Melanie Mason      F  12th             96          71
  ...               ...    ...   ...            ...         ...
  17866     Sonya Roman      F  10th             79          86
  17867     Debra Perez      F  10th             89          98
  17868   Mr. Dean York      M  11th             98          75
  17869  Brandi Swanson      F  12th             81          73
  17870    Kim Faulkner      F  10th             99          83

  [1858 rows x 11 columns],
         School ID         school_name      type  size   budget  Student ID  \
  17873          7  Bailey High School  District  4976  3124928       17873
  17874          7  Bailey High School  District  4976  3124928       17874
  17875          7  Bailey High School  District  4976  3124928       17875
  17876          7  Bailey High School  District  4976  3124928       17876
  17877          7  Bailey High School  District  4976  3124928       17877
  ...          ...                 ...       ...   ...      ...         ...
  22841          7  Bailey High School  District  4976  3124928       22841
  22842          7  Bailey High School  District  4976  3124928       22842
  22844          7  Bailey High School  District  4976  3124928       22844
  22845          7  Bailey High School  District  4976  3124928       22845
  22846          7  Bailey High School  District  4976  3124928       22846

                student_name gender grade  reading_score  math_score
  17873         Richard Haas      M  11th             79          86
  17874          Frank Marsh      M   9th             71          89
  17875  Charles Goodman Jr.      M   9th             90          61
  17876         James Burton      M  11th             89          85
  17877         James Rogers      M  11th             91          70
  ...                    ...    ...   ...            ...         ...
  22841        Lauren Miller      F  10th             96          86
  22842         Jaclyn Ayala      F  12th             74          93
  22844       Gabriel Ashley      M   9th             95          88
  22845         Sarah Cooper      F  10th             91          62
  22846  Dr. Nicholas Garcia      M  11th             90          79

  [4351 rows x 11 columns],
         School ID         school_name     type  size  budget  Student ID  \
  22847          8  Holden High School  Charter   427  248087       22847
  22848          8  Holden High School  Charter   427  248087       22848
  22849          8  Holden High School  Charter   427  248087       22849
  22850          8  Holden High School  Charter   427  248087       22850
  22851          8  Holden High School  Charter   427  248087       22851
  ...          ...                 ...      ...   ...     ...         ...
  23269          8  Holden High School  Charter   427  248087       23269
  23270          8  Holden High School  Charter   427  248087       23270
  23271          8  Holden High School  Charter   427  248087       23271
  23272          8  Holden High School  Charter   427  248087       23272
  23273          8  Holden High School  Charter   427  248087       23273

              student_name gender grade  reading_score  math_score
  22847   Daniel Rodriguez      M  11th             86          92
  22848      Bryan Perkins      M   9th             91          81
  22849       Scott Holder      M   9th             98          93
  22850       Troy Jackson      M  11th             80          90
  22851      William Gomez      M   9th             76          85
  ...                  ...    ...   ...            ...         ...
  23269     Sharon Douglas      F   9th             78          93
  23270      Lauren Little      F   9th             94          95
  23271  Christine Kaufman      F   9th             83          95
  23272    Christina Smith      F  11th             94          84
  23273       Joyce Martin      F  10th             77          92

  [427 rows x 11 columns],
         School ID       school_name     type  size  budget  Student ID  \
  23274          9  Pena High School  Charter   962  585858       23274
  23275          9  Pena High School  Charter   962  585858       23275
  23276          9  Pena High School  Charter   962  585858       23276
  23277          9  Pena High School  Charter   962  585858       23277
  23278          9  Pena High School  Charter   962  585858       23278
  ...          ...               ...      ...   ...     ...         ...
  24231          9  Pena High School  Charter   962  585858       24231
  24232          9  Pena High School  Charter   962  585858       24232
  24233          9  Pena High School  Charter   962  585858       24233
  24234          9  Pena High School  Charter   962  585858       24234
  24235          9  Pena High School  Charter   962  585858       24235

               student_name gender grade  reading_score  math_score
  23274          Alec Davis      M   9th             91          75
  23275       Michael Meyer      M  10th             94          76
  23276    Donald Gutierrez      M  11th             98          91
  23277       Travis Chavez      M  11th             78          71
  23278         Sheena Ball      F  12th             87          92
  ...                   ...    ...   ...            ...         ...
  24231  Crystal Pennington      F  12th             84          76
  24232     Christina Jones      F  10th             69          84
  24233        John Kennedy      M   9th             79          82
  24234      Amanda Mendoza      F  11th             79          69
  24235     Nathaniel Hodge      M  12th             99          96

  [962 rows x 11 columns],
         School ID         school_name     type  size   budget  Student ID  \
  24236         10  Wright High School  Charter  1800  1049400       24236
  24237         10  Wright High School  Charter  1800  1049400       24237
  24238         10  Wright High School  Charter  1800  1049400       24238
  24239         10  Wright High School  Charter  1800  1049400       24239
  24240         10  Wright High School  Charter  1800  1049400       24240
  ...          ...                 ...      ...   ...      ...         ...
  26031         10  Wright High School  Charter  1800  1049400       26031
  26032         10  Wright High School  Charter  1800  1049400       26032
  26033         10  Wright High School  Charter  1800  1049400       26033
  26034         10  Wright High School  Charter  1800  1049400       26034
  26035         10  Wright High School  Charter  1800  1049400       26035

              student_name gender grade  reading_score  math_score
  24236      Aaron Johnson      M  10th             89          72
  24237  Kimberly Hamilton      F  10th             84          93
  24238       Ashley Johns      F  10th             88          88
  24239  Stephanie Donovan      F  10th             75          84
  24240     Cynthia Guzman      F  11th             93          82
  ...                  ...    ...   ...            ...         ...
  26031      Lauren Duncan      F  12th             90          82
  26032     Heather Stuart      F  11th             94          95
  26033  Elizabeth Robbins      F  12th             69          99
  26034          John Mann      M  11th             73          91
  26035     Michael Holmes      M   9th             98          80

  [1800 rows x 11 columns],
         School ID            school_name      type  size   budget  Student ID  \
  26036         11  Rodriguez High School  District  3999  2547363       26036
  26037         11  Rodriguez High School  District  3999  2547363       26037
  26038         11  Rodriguez High School  District  3999  2547363       26038
  26039         11  Rodriguez High School  District  3999  2547363       26039
  26040         11  Rodriguez High School  District  3999  2547363       26040
  ...          ...                    ...       ...   ...      ...         ...

In [72]:
for x in range(len(High_schools)):
    scoresabove60 = {  'Schools': 
                ['Huang_High_School',
                'Figueroa_High_School',
                'Shelton_High_School',
                'Hernandez_High_School',
                'Griffin_High_School',
                'Wilson_High_School',
                'Cabrera_High_School',
                'Bailey_High_School',
                'Holden_High_School',
                'Pena_High_School',
                'Wright_High_School',
                'Rodriguez_High_School',
                'Johnson_High_School',
                'Ford_High_School'],
                'math_score':
                [Huang_High_School.loc[Huang_High_School["math_score"]>60],
                Figueroa_High_School.loc[Figueroa_High_School["math_score"]>60],
                Shelton_High_School.loc[Shelton_High_School["math_score"]>60],
                Hernandez_High_School.loc[Hernandez_High_School["math_score"]>60],
                Griffin_High_School.loc[Griffin_High_School["math_score"]>60],
                Wilson_High_School.loc[Wilson_High_School["math_score"]>60],
                Cabrera_High_School.loc[Cabrera_High_School["math_score"]>60],
                Bailey_High_School.loc[Bailey_High_School["math_score"]>60],
                Holden_High_School.loc[Holden_High_School["math_score"]>60],
                Pena_High_School.loc[Pena_High_School["math_score"]>60],
                Wright_High_School.loc[Wright_High_School["math_score"]>60],
                Rodriguez_High_School.loc[Rodriguez_High_School["math_score"]>60],
                Johnson_High_School.loc[Johnson_High_School["math_score"]>60],
                Ford_High_School.loc[Ford_High_School["math_score"]>60]],
               'reading_score':
               [Huang_High_School.loc[Huang_High_School["reading_score"]>60],
               Figueroa_High_School.loc[Figueroa_High_School["reading_score"]>60],
               Shelton_High_School.loc[Shelton_High_School["reading_score"]>60],
               Hernandez_High_School.loc[Hernandez_High_School["reading_score"]>60],
               Griffin_High_School.loc[Griffin_High_School["reading_score"]>60],
               Wilson_High_School.loc[Wilson_High_School["reading_score"]>60],
               Cabrera_High_School.loc[Cabrera_High_School["reading_score"]>60],
               Bailey_High_School.loc[Bailey_High_School["reading_score"]>60],
               Holden_High_School.loc[Holden_High_School["reading_score"]>60],
               Pena_High_School.loc[Pena_High_School["reading_score"]>60],
               Wright_High_School.loc[Wright_High_School["reading_score"]>60],
               Rodriguez_High_School.loc[Rodriguez_High_School["reading_score"]>60],
               Johnson_High_School.loc[Johnson_High_School["reading_score"]>60],
               Ford_High_School.loc[Ford_High_School["reading_score"]>60]]}
    
    School = { "school":
        ["School Name",
        "School Type",
        "Total Students",
        "Total School Budget",
        "Per Student Budget",
        "Average Math Score",
        "Average Reading Score",
        "Passing Math",
        "Passing Reading",
        "Overall Passing Rate"],"Value": [df["school_name"][x],df["type"][x],df["size"][x],df["budget"][x],
                                         df["budget"][x] / df["size"][x],df3.math_score[x].mean(),df3.reading_score[x].mean(),
                                          scoresabove60['math_score'][x]['math_score'].count()/df["size"][x],
                                          scoresabove60['reading_score'][x]['reading_score'].count()/ df["size"][x],
                                         (scoresabove60['math_score'][x]['math_score'].count()/ df["size"][x] + scoresabove60['reading_score'][x]['reading_score'].count()/ df["size"][x])/2]}
    print(School)
    print('***********************************************')
    print()

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Huang High School', 'District', 2917, 1910635, 655.0, 79.0, 66.0, 0.8683579019540624, 1.0, 0.9341789509770312]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Figueroa High School', 'District', 2949, 1884411, 639.0, 61.0, 94.0, 0.8643608002712784, 1.0, 0.9321804001356392]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Shelton High School', 'Charter', 1761, 1056600, 600.0, 60.0, 90.0, 1.0, 1.0, 1.0]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Hernandez High School', 'District', 4635, 3022020, 652.0, 58.0, 67.0, 0.8645091693635383, 1.0, 0.9322545846817691]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Griffin High School', 'Charter', 1468, 917500, 625.0, 84.0, 97.0, 1.0, 1.0, 1.0]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Wilson High School', 'Charter', 2283, 1319574, 578.0, 94.0, 94.0, 1.0, 1.0, 1.0]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Cabrera High School', 'Charter', 1858, 1081356, 582.0, 80.0, 82.0, 1.0, 1.0, 1.0]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Bailey High School', 'District', 4976, 3124928, 628.0, 69.0, 96.0, 0.8743971061093248, 1.0, 0.9371985530546624]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Holden High School', 'Charter', 427, 248087, 581.0, 87.0, 95.0, 1.0, 1.0, 1.0]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Pena High School', 'Charter', 962, 585858, 609.0, 84.0, 96.0, 1.0, 1.0, 1.0]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Wright High School', 'Charter', 1800, 1049400, 583.0, 70.0, 90.0, 1.0, 1.0, 1.0]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Rodriguez High School', 'District', 3999, 2547363, 637.0, 77.0, 78.0, 0.8644661165291323, 1.0, 0.9322330582645662]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Johnson High School', 'District', 4761, 3094650, 650.0, 79.0, 64.0, 0.867044738500315, 1.0, 0.9335223692501575]}
***********************************************

{'school': ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate'], 'Value': ['Ford High School', 'District', 2739, 1763916, 644.0, 79.0, 71.0, 0.8722161372763783, 1.0, 0.9361080686381891]}
***********************************************

IndexError: list index out of range

In [69]:
District = pd.DataFrame({"District":
    ["Total Schools",
    "Total Students",
    "Total Budget",
    "Average Math Score",
    "Average Reading Score",
    "Passing Math",
    "Passing Reading",
    "Overall Passing Rate"],"Value": [df["school_name"].count(),df["size"].sum(),df["budget"].sum(),
                                      High_school_math, High_school_reading,(df2["math_score"]>=60).count(),
                                    (df2["reading_score"]>= 60).count(),(df2["reading_score"]>= 60).count() & (df2["math_score"]>=60).count()]})
District

NameError: name 'High_school_math' is not defined

In [ ]:
print((df2["math_score"]>=60).count())
District["Value"] = pd.to_numeric(District["Value"])
District

In [ ]:
if(df2["school_name"] == [x for x in df2["school_name"].unique()]):
    print (x)

In [ ]:
df2["school_name"].value_counts()

In [ ]:
Huang_High_School["math_score"].mean()

In [ ]:
print('Huang High School'.replace(" ","_"))

In [ ]:
High_schools[1]

In [ ]:
len(High_schools)

In [ ]:
 for j in range(len(High_schools)):
    for x in range(len(df3[df3[]])):
        High_school_math = float(df3.math_score[x].mean())
        High_school_reading = df3.reading_score[x].mean()
        #High_school_math_pass = 
        
    print(High_school_math)

In [ ]:
mathscore>=60]

In [ ]:
df3.iloc[:200]

In [23]:
(Huang_High_School[Huang_High_School['math_score']>60]).count()/df["size"][0]

School ID        0.868358
school_name      0.868358
type             0.868358
size             0.868358
budget           0.868358
Student ID       0.868358
student_name     0.868358
gender           0.868358
grade            0.868358
reading_score    0.868358
math_score       0.868358
dtype: float64

In [ ]:
(Huang_High_School["math_score"]>60).count()

In [25]:
scoresabove60['math_score'][1]['math_score'].count()/df["size"][0]

0.8738429893726432

In [40]:
passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School = (Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Figueroa_High_School =(Figueroa_High_School[Figueroa_High_School['math_score']>=60]).count()
    passing_reading_Figueroa_High_School = (Figueroa_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Shelton_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Shelton_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Griffin_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Griffin_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Wilson_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Wilson_High_School = (Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Cabrera_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Cabrera_High_School = (Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Bailey_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Bailey_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Holden_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Holden_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Pena_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Pena_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    passing_math_Huang_High_School =(Huang_High_School[Huang_High_School['math_score']>=60]).count()
    passing_reading_Huang_High_School =(Huang_High_School[Huang_High_School['reading_score']>=60]).count()
    School = pd.DataFrame({" ":

IndentationError: unexpected indent (<ipython-input-40-5e12ce008e3a>, line 2)

In [49]:
scoresabove60['math_score'][7]['math_score'].count()/df["size"][7]

0.8643608002712784

In [54]:
scoresabove60['reading_score'][7]['reading_score'].count()/ df["size"][7]

1.0

In [57]:
(85 + 65) /2

75.0

In [63]:
(scoresabove60['math_score'][0]['math_score'].count()/ df["size"][0] + scoresabove60['reading_score'][0]['reading_score'].count()/ df["size"][0])/2

0.9341789509770312